#   Copyright (c) 2019 AT&T Intellectual Property.                             #
#   Copyright (c) 2019 Nokia.                                                  #
#                                                                              #
#   Licensed under the Apache License, Version 2.0 (the "License");            #
#   you may not use this file except in compliance with the License.           #
#   You may obtain a copy of the License at                                    #
#                                                                              #
#       http://www.apache.org/licenses/LICENSE-2.0                             #
#                                                                              #
#   Unless required by applicable law or agreed to in writing, software        #
#   distributed under the License is distributed on an "AS IS" BASIS,          #
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   #
#   See the License for the specific language governing permissions and        #
#   limitations under the License.                                             #
################################################################################


common:
  k8sAPIHost: https://kubernetes.default.svc.cluster.local/
  tillers:
    ricxapp:
      name: ricxapp
      nameSpace: ricxapp
      deployNameSpace: ricinfra
      imagePullPolicy: IfNotPresent
      image:
        tillerTLSSecrets:
          registry: nexus3.o-ran-sc.org:10002/o-ran-sc
          name: it-dep-secret
          tag:  0.0.2
        tiller:
          registry: ghcr.io
          name: helm/tiller
          tag: v2.16.12
      secret:
        create: true
        tillerSecretName: ricxapp-tiller-secret
        helmSecretName: ricxapp-helm-secret
      tls:
       authenticate: true
       verify: true
      serviceAccount:
        name: tiller
        role:
        - apiGroups: [""]
          resources: ["pods", "configmaps", "services"]
          verbs: ["get", "list", "create", "delete"]
        - apiGroups: ["extensions", "apps"]
          resources: ["deployments"]
          verbs: ["get", "list", "create", "delete"]

            
extsvcplt:
  enabled: true
  ricip: "10.0.0.1"
  auxip: "10.0.0.1"


docker-credential:
  enabled: true
  credential:
    oran-release:
      registry: "nexus3.o-ran-sc.org:10002"
      credential:
        user: "docker"
        password: "docker"
        email: "@"
    oran-staging:
      registry: "nexus3.o-ran-sc.org:10004"
      credential:
        user: "docker"
        password: "docker"
        email: "@"

certificate-manager:
  enabled: true


prometheus:
  enabled: false


danm-network:
  enabled: true


kong:
  enabled: true
  ingressController:
    enabled: true

  postgresql:
    enabled: false

  env:
    database: "off"

  proxy:
    http:
      nodePort: 32080
    tls:
      nodePort: 32443
  # These port numbers MUST matche with what's in
  # ric-common/Common-Template/helm/ric-common/templates/_ingresscontroller.tpl file.
  # If need to change a proxy port here, do not forget to update the
  # _ingresscontroller.tpl file with the new port number.
postgresql:
  enabled: false

env:
  database: off
